<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/stylesheets/login.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
	<div class="homelink"><a href="/"><img src="/images/home.svg" alt="home"/></a></div>
	<div class="reloadlink"><a href="/login"><img src="/images/refresh.svg" alt="refresh link"></a></div>
	<div class="maincontent">
		{{#errormessage}}<h1 class="error">{{errormessage}}</h1>{{/errormessage}}
		<form action="/login" method="post">
			<h1>Login</h1>
			<input type="text" name="username" placeholder="username">
			<input type="password" name="password" placeholder="password">
			<button type="submit">Login</button>
		</form>
		<form action="/register" method="post">
			<h1>Register</h1>
			<input type="text" name="username" placeholder="username">
			<input type="password" name="password" placeholder="password">
			<input type="password" name="confirmpassword" placeholder="confirm password">
			<button type="submit">Register</button>
		</form>
	</div>
</body>
</html>