<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post</title>
	<link rel="stylesheet" href="/stylesheets/post.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="homelink"><a href="/"><img src="/images/home.svg" alt="home"/></a></div>
		<div class="maincontent">
			<h1>Post your own listing :</h1>
			<form action="/addimage" method="POST" enctype="multipart/form-data">
				<input type="number" name="price" placeholder="Price">
				<input type="email" name="email" placeholder="Email Address">
				<input type="number" name="zipcode" placeholder="Zip Code" maxlength="5">
				<input type="text" name="title" placeholder="Title">
				<input type="text" name="description" placeholder="Description">
				Select an image to upload :
				<input type="file" name="picture">
				<select name="selectchoice">
					<option value="activities">Community Activities</option>
					<option value="events">Community Events</option>
					<option value="general">Community General</option>
					<option value="automotive">Automotive Services</option>
					<option value="legal">Legal Services</option>
					<option value="real-estate">Real Estate Services</option>
					<option value="housing-swap">Housing Swap</option>
					<option value="real-estate-for-sale">Real Estate For Sale</option>
					<option value="vacation-rentals">Vacation Rentals</option>
					<option value="barter">Barter</option>
					<option value="bikes">Bikes For Sale</option>
					<option value="computers">Computers For Sale</option>
					<option value="customer-service">Customer Service Jobs</option>
					<option value="education">Education Jobs</option>
					<option value="security">Security Jobs</option>
					<option value="computer">Computer Gigs</option>
					<option value="crew">Crew Gigs</option>
					<option value="labor">Labor Gigs</option>
				</select>
				<input type="submit" value="Upload Image">
			</form>
		</div>
	</div>
</body>
</html>