<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{titlemain}}</title>
	<link rel="stylesheet" href="/stylesheets/{{viewtype}}sub.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="homelink"><a href="/"><img src="/images/home.svg" alt="home"/></a></div>
		<div class="postlink"><a href="/post"><img src="/images/add.svg" alt="post link"></a></div>
		<div class="header"><h1>Las Vegas</h1></div>
		<div class="maincontent">
			<div>Viewing Options : 
				<a class="viewlink" href="/category/{{category}}/view/list">List View</a>
				<a class="viewlink" href="/category/{{category}}/view/thumb">Thumb View</a>
				<a class="viewlink" href="/category/{{category}}/view/gallery">Gallery View</a>
			</div>
			<div class="categorytitle"><h2>{{category}} :</h2></div>
			<ul class="{{viewtype}}list">
			{{#list}}
				<div class="{{viewtype}}holder">
					<div class="{{viewtype}}image">
						{{#listing_image}}<img class="mainimages" src="{{listing_image}}" alt="listing image"/>{{/listing_image}}
						{{^listing_image}}<img class="mainimages" src="http://placehold.it/200/200"/>{{/listing_image}}
					</div>
					<div class="{{viewtype}}title"><li><a href="/category/listing/{{category}}/{{id}}">{{title}}</a></li></div>
				</div>
			{{/list}}
			</ul>
		</div>
	</div>
</body>
</html>