body {
	box-sizing: border-box;
	color: black;
	margin: 0px;
	background-color: #ECECEC;
	font-family: Montserrat;
}
img {
	width: 200px;
	height: 200px;
}
.maincontent {
	width: 60%;
	background-color: #90CCF4;
	padding: 10px;
	margin: auto;
	margin-top: 100px;
	height: 600px;
}
.listimage {
	display: block;
	margin: auto;
}
.listingtitle {
	margin-left: 10px;
}
.listingdescription {
	padding: 10px;
}
.homelink img, .postlink img {
	width: 50px;
	height: 50px;
}
.homelink {
	position: absolute;
	top: 20px;
	left: 20px;
}
.postlink {
	position: absolute;
	top: 20px;
	right: 20px;
}