body {
	box-sizing: border-box;
	color: black;
	margin: 0px;
	background-color: #ECECEC;
	font-family: Montserrat;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.header {
	width: 100%;
	background-color: #ECECEC;
	text-align: center;
}
.maincontent {
	width: 60%;
	background-color: #90CCF4;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin: auto;
}
.categorytitle {
	width: 100%;
}
a:hover  {
	text-decoration: none;
	color: white;
}
a {
	color: black;
	text-decoration: none;
}
li {
	list-style: none;
}
.homelink img, .postlink img {
	width: 50px;
	height: 50px;
}
.homelink {
	position: absolute;
	top: 20px;
	left: 20px;
}
.postlink {
	position: absolute;
	top: 20px;
	right: 20px;
}
